<div class="row">
    <div class = "recent_posts"> <p> Some recent posts... </p></div>
    <% post.reverse().forEach(function(post){ %>
    <div class="col-sm-2">
      <div>
       <img src="https://cdn2.iconfinder.com/data/icons/lightly-icons/30/user-480.png" height="70" width="70" alt="Avatar" style = "margin-top:20px;">
       <p><%= post.author.username %></p>
      </div>
    </div>
    <div class="col-sm-10">
      <div class="well text-left">
       <a href="/post/<%= post._id %>/user/<%= post.author.id %>/<%= post.title %>" class="wraptxt"> <h5><%= post.title %></h5> </a>
        <p class="wraptxt"><%= post.description.substring(0,100)%>...</p>
        <p class="pull-right"><%= post.timePosted %></p>
        
        
    
    </div>
    </div>

<%  }); %>
  </div>



</div>